# .NET
bin/
obj/
*.user
*.suo
.vs/
*.userprefs

# Node / Angular
node_modules/
dist/
.angular/
*.log

# IDE
.idea/
.vscode/

# Env / secrets
*.env
appsettings.*.json
!appsettings.json
!appsettings.Development.json

# OS
.DS_Store
Thumbs.db
